/*:root {
	--tooltip-color: rgba(0,127,191,1);
}*/


.grade_calc{
	overflow: visible;
}


.magic_input_read{
	/*transition: 0.2s;*/
	border-radius: 25%;
	/*padding-right: 0.2rem;*/
	cursor: pointer !important;
}
.magic_input_read:hover{
	background-color: rgba(13, 110, 253, 0.2);
}

.result_read{
	border-radius: 50%;
	padding: 0.2rem;
	color: white;
	background-color: rgba(0, 150, 200, 0.8);
}










.grade_calc .dropdown-toggle{
	color: inherit !important;
	padding: 0;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	width: fit-content !important;
	background-color: rgba(13,110,253,0.2);
}
.grade_calc .dropdown-toggle:hover{
	background-color: rgba(13,110,253,1);
}

.grade_calc .part_selector .dropdown-toggle{
	border-color: rgba(13,110,253,0.2);
	background-color: rgba(13,110,253,0.1);
}
.grade_calc .part_selector .dropdown-toggle:hover{
	background-color: rgba(13,110,253,0.3);
}
.grade_calc .part_selector .dropdown-menu.show{
	/*overflow-y: visible;*/
	overflow-y: scroll;
}


.grade_calc .dropdown-menu.show{
	padding: 0;
	overflow-y: scroll;
	z-index: 9999;
	/*overflow-y: auto !important;*/
}

.grade_calc .dropdown-item{
	white-space: normal;
}
.grade_calc .dropdown-item.current_selection{
	color: rgb(240, 240, 240);
	background-color: rgba(0,127,191,0.8);
	/*background-image: linear-gradient(rgba(255,255,255,1), rgba(127,191,223,1));*/
	background-size: cover;
}
.grade_calc .dropdown-item.current_selection:hover{
	color: rgb(240, 240, 240);
	background-color: rgba(0,127,191,1);
}






.grade_calc .btn-light.up_down {
	height: fit-content !important;
}
.grade_calc .btn-check:focus+.btn-light.up_down, .btn-light:focus {
    box-shadow: none !important;
	background-color: rgba(0,0,0,0.1) !important;
}
.grade_calc .btn-light.up_down:hover {
   	background-color: rgba(0,0,0,0.1) !important;
}
.grade_calc .btn-light.up_down:disabled {
	/*background-color: red;*/
	opacity: 20%;
}

.grade_calc .btn-light.up_down_order{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	color: white;
}
.grade_calc .btn-check:focus+.btn-light.up_down_order, .btn-light:focus {
    box-shadow: none !important;
	background-color: rgba(0,0,0,0.1) !important;
}
.grade_calc .btn-light.up_down_order:hover {
   	background-color: rgba(0,0,0,0.1) !important;
}






/* PANTALLA MÉS ALTA QUE BAIXA */
@media screen and (orientation:portrait) {


	.grade_calc{
		width: 93vw;
	}
	.grade_calc .dropdown-menu.show{
		width: 75vw;
		max-height: 60vh;
	}
	.grade_calc .part_selector .dropdown-menu.show{
		width: fit-content !important;
		max-height: 50vh;
	}
	
	

}


/* PANTALLA MÉS BAIXA QUE ALTA */
@media screen and (orientation:landscape) {

	.grade_calc{
		width: max(82vh, 315px);
	}
	.grade_calc .dropdown-menu.show{
		width: max(73vh, 220px);
		max-height: 70vh;
	}
	.grade_calc .part_selector .dropdown-menu.show{
		width: fit-content !important;
		max-height: 40vh;
	}

}












