
.global_navbar.navbar{
	margin-top: -15px;
	padding-bottom: 0px;
}

.global_navbar.navbar-expand-md .navbar-collapse{
	align-self: flex-end;
}

.global_navbar.navbar-nav-scroll{
	overflow-y: hidden;
}



.global_navbar.navbar-light .navbar-nav .nav-link {
    /*color: rgba(0,255,0,.9);*/
	font-weight: bold;
	/*background-image: linear-gradient(rgba(159,223,255,1), rgba(255,255,255,1));*/
	background-image: linear-gradient(rgba(127,191,223,1), rgba(255,255,255,1));
	background-size: cover;
	text-align: center;
	margin-left: 0.15vw;
	margin-right: 0.15vw;
	
	padding-left: 2vw;
	padding-right: 2vw;
}
.global_navbar.navbar-light .navbar-nav .nav-link:hover {
	background-image: linear-gradient(rgba(111,191,223,1), rgba(255,255,255,1));
}


.global_navbar.navbar-light .navbar-nav .nav-link.active, .global_navbar.navbar-light .navbar-nav .show>.nav-link{
	/*color: rgba(255, 255, 255, 0.9);*/
	font-size: 15px;
	font-weight: bolder;
	/*color: white;*/
	/*background-image: linear-gradient(rgba(127,191,223,1), rgba(255,255,255,1));*/
	background-image: linear-gradient(rgba(0,127,191,1), rgba(255,255,255,1));
	/*background-image: linear-gradient(rgba(95,223,255,1), rgba(255,255,255,1));*/
	background-size: cover;
}
.global_navbar.navbar-light .navbar-nav .nav-link.active:hover, .global_navbar.navbar-light .navbar-nav .show>.nav-link:hover{
	background-image: linear-gradient(rgba(0,127,175,1), rgba(255,255,255,1));
}


/*.global_navbar.nav-pills .nav-link.active, .nav-pills .show>.nav-link {*/

	/*background-image: linear-gradient(rgba(0,127,191,1), rgba(255,255,255,1));
	background-size: cover;*/

    /*background-color: rgba(0,127,191,1);*/
/*}*/




/*.navbar-toggler:not(.navbar-expand-md) .navbar-nav .nav-link {
	min-width: 100% !important;
	width:100% !important;
	overflow-x: visible;
}

.navbar-toggler:not(.navbar-expand-md) .navlinks_container{
	align-items: center;
	min-width: 100% !important;
	width:100% !important;
	overflow-x: visible;
}*/
#navbarScroll > div.w-100.d-flex.justify-content-center > div{
	width: 100%;
}
.navbar-toggler{
	margin-top: 0.5rem;
}




.user_access_icon{
	width: 30px;
	padding-right: 0.3vw;
}


#navbar_title_image:hover{
	cursor: pointer;
}








/* PANTALLA MÉS ALTA QUE BAIXA */
@media screen and (orientation:portrait) {

	#navbar_title_image{
		width: 25vw;
	}

}


/* PANTALLA MÉS BAIXA QUE ALTA */
@media screen and (orientation:landscape) {

	#navbar_title_image{
		width: max(20vh, 125px);
	}

}