:root {
	--tooltip-color: rgba(0,127,191,1);
}

.card{

	overflow: visible;
	--b_width: min(0.2vh, 0.4vw);
	--b_color: rgba(0,127,191,0.5);
	border-color: var(--b_color);
	border-width: var(--b_width);

}



.tooltip.show {
	opacity: 1;
}
.tooltip-inner {
	background-color: var(--tooltip-color);
	/*box-shadow: 0px 0px 0.0005px black;*/
	/*opacity: 1 !important;*/
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
	border-top-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
	border-left-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
	border-right-color: var(--tooltip-color);
}





.votearrow{
	width: 20px;
	margin-left: 0.4vw;
	margin-right: 0.4vw;
}
.votearrow:hover{
	cursor: pointer;
}







/* PANTALLA MÉS ALTA QUE BAIXA */
@media screen and (orientation:portrait) {

	.card{
		width: 90vw;
	}

}


/* PANTALLA MÉS BAIXA QUE ALTA */
@media screen and (orientation:landscape) {

	.card{
		width: max(70vh, 300px);
	}

}