:root {
	--tooltip-color: rgba(0,127,191,1);
}

.post{

	overflow: visible;
	--b_width: min(0.2vh, 0.4vw);
	--b_color: rgba(0,127,191,0.5);
	border-color: var(--b_color);
	border-width: var(--b_width);

}



.tooltip.show {
	opacity: 1;
}
.tooltip-inner {
	background-color: var(--tooltip-color);
	/*box-shadow: 0px 0px 0.0005px black;*/
	/*opacity: 1 !important;*/
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
	border-top-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
	border-left-color: var(--tooltip-color);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
	border-right-color: var(--tooltip-color);
}





.tooltip_fitxers>.tooltip-inner {
	text-align: start !important;
}





.sigles_ud_nav {
	background-color: var(--bttn_color) !important;
}
.sigles_ud_nav:hover {
	background-color: var(--bttn_color_hover) !important;
}

.username_nav {
	background-color: rgb(222,233,244);
	border-radius: 1rem;
	filter: brightness(1);
}
.username_nav:hover {
	filter: brightness(0.97);
}




/* PANTALLA MÉS ALTA QUE BAIXA */
@media screen and (orientation:portrait) {

	.post{
		width: 90vw;
	}
	.post.individual{
		width: 93vw;
	}

}


/* PANTALLA MÉS BAIXA QUE ALTA */
@media screen and (orientation:landscape) {

	.post{
		width: max(70vh, 300px);
	}
	.post.individual{
		width: max(82vh, 315px);
	}

}
